.DS_Store
secret.json
config/debug.json
# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Visual Studio Code
.vscode
*.code-workspace

# build
.build

# mongoDB data
dbData/

*.dontcommit*
tmp.*